langchain-google-genai~=2.0.9
langchain~=0.3.19
python-dotenv~=1.0.1
langchain-community~=0.3.18
langchain-huggingface~=0.1.2
streamlit~=1.42.2
langchain-core~=0.3.37
sentence-transformers~=2.5.1
faiss-cpu~=1.8.0
PyMuPDF~=1.23.6
rich~=13.9.4

